.img3w{
    border-radius: 5px;
    height : 240px;
    margin-bottom : 5px
}
.warning {
    display: flex;
    padding: 10px 20px;
    border-radius: 8px;
    background: #FCEFCA;
}

.header {
    background-image: url('/public/assets/header.png');
    background-size : cover;
    background-position: center center ;
    width :100% ;
    height : 500px;
    border-radius:5px
}
.layer{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: auto;
    padding: 0 2rem;
    color: white;
    text-align: center;
}
.minlayer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    padding: 5px;
    color: white;
}
/*/////////////// MyTrips////////*/
.cardContainer{
    display:grid;
    grid-template-columns: 35% 45% auto;
    column-gap: 10px;
    background-color:white;
    justify-content:space-between;
    border: 1px solid var(--main-colorBg);
    padding: 15px;
    border-radius: 5px;
    margin-bottom:5px; 
    font-size:1.1vw
}