
.container{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%
}

.copy{
    text-align: end;
    background-color: #EBEBEB;
    left: 0;
    right: 0;
}
.calcwidth{
    width:calc(100%/5)
}